@mixin listStyle {
    display: flex;
    list-style: none;
    padding: 0.3rem;
    flex-direction: column;
    font-size: 0.9rem;
    color: white;
}
@mixin searchBarDetails {
    padding: 0.3rem 0.8rem;
    background-color: #cf0000;
    border: 0;
    font-weight: bold;
    color: white;
    border-radius: .625rem;
}
@mixin sectionStyle {
    display: flex;
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 3rem 0;
}
@mixin cardStyle {
    width: calc(100% / 6 - 0.42rem);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 9%;
    background-color: grey;
}
@mixin cardDetails {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    overflow: auto;
}
@mixin cardImage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    right: 0;
    left: 0;
    bottom: 0;

}