@mixin listStyle {
    display: flex;
    list-style: none;
    padding: 2rem;
    flex-direction: column;
    font-size: 0.9rem;
    color: white;
}

@mixin sectionStyle {
    display: flex;
    align-items: start;
    max-width: 1200px;
    margin: auto;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 4rem;
}

@mixin cardStyle {
    width: calc(100% / 3 - 0.67rem);
    background-color: black;
    font-size: 0;
    border: .125rem solid #8c8c8c;
    // height: 34.7494rem;
}

@mixin searchBarDetails {
    padding: 0.3rem 0.8rem;
    background-color: #cf0000;
    border: 0;
    font-weight: bold;
    color: white;
}